<% content_for :title, "Button" %>

<div class="content-spacing">

  <h2 class="heading-two">Button colours</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttons", ruby: capture { -%>
&lt;%= link_to "a.button", "#", class: "button" -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button">a.button</a>
  <button class="button">button.button</button>
</p>
<p>
  <a href="#" class="button__secondary">.button__secondary</a>
</p>

<p>
  <a href="#" class="button__confirm">.button__confirm</a>
</p>

<p>
  <a href="#" class="button__cancel">.button__cancel</a>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Disabled buttons</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttons-disabled", ruby: capture { -%>
&lt;%= link_to ".button__disabled", "#", class: "button__disabled" -%&gt;
&lt;%= f.button "Disabled Button", class: "button", disabled: true -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button__disabled">.button__disabled</a>
</p>

<p>
  <button href="#" class="button" disabled>.button[disabled]</button>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Line buttons</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttons-line", ruby: capture { -%>
&lt;%= link_to ".button__line", "#", class: "button__line" -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button__line">.button__line</a>
</p>

<p>
  <a href="#" class="button__secondary__line">.button__secondary__line</a>
</p>

<p>
  <a href="#" class="button__confirm__line">.button__confirm__line</a>
</p>

<p>
  <a href="#" class="button__cancel__line">.button__cancel__line</a>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Button modifiers</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttons-modifiers", ruby: capture { -%>
&lt;%= link_to ".button.button__full", "#", class: "button button__full" -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button button__full">.button.button__full</a>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Icons</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "button-icons", ruby: capture { -%>
&lt;%= link_to "Search", "#", class: "button button__icon-left icon-search" -%&gt;
&lt;%= link_to "Search", "#", class: "button button__icon-right icon-search" -%&gt;
&lt;%= link_to "", "#", class: "button button__icon icon-search" -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button button__icon-left icon-search">Search</a>
  <a href="#" class="button__confirm button__icon-left icon-search">Search</a>
  <a href="#" class="button__secondary button__icon-right icon-search">Search</a>
  <a href="#" class="button__secondary button__icon icon-search"></a>
</p>
  <%- end -%>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "button-icons-full", ruby: capture { -%>
&lt;%= link_to "#", class: "button button__full" do -%&gt;
  &lt;span class="button__icon-left icon-search">Search&lt;/span>
&lt;%- end -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button button__full">
    <span class="button__icon-left icon-search">Search</span>
  </a>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Button group</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttongroups" } do -%>
<div class="button-group">
  <a href="#" class="button">Left</a>
  <a href="#" class="button">Center</a>
  <a href="#" class="button__secondary">Right</a>
</div>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Forward and Back buttons</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "button-sides" } do -%>
<div class="button-sides">
  <a href="#" class="button button__back">Back</a>
  <a href="#" class="button button__forward">Forward</a>
</div>
  <%- end -%>

</div>
