<% content_for :title, "Button" %>

<div class="content-spacing">

  <h2 class="heading-two">Button colours</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttons", ruby: capture { -%>
&lt;%= link_to "a.button", "#", class: "button" -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button">Primary Button on an anchor</a>
  <button class="button">Primary Button on a button</button>
</p>
<p>
  <a href="#" class="button__secondary">Secondary Button</a>
</p>

<p>
  <a href="#" class="button__confirm">Confirmation Button</a>
</p>

<p>
  <a href="#" class="button__cancel">Cancel Button</a>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Button sizing</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttons-sizing", ruby: capture { -%>
&lt;%= link_to "Button", "#", class: "button button__pill" -%&gt;
&lt;%= link_to "Button", "#", class: "button button__small" -%&gt;
&lt;%= link_to "Button", "#", class: "button" -%&gt;
&lt;%= link_to "Button", "#", class: "button button__large" -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button button__pill">Pill button</a>
</p>
<p>
  <a href="#" class="button button__small">Small button</a>
</p>
<p>
  <a href="#" class="button">Regular button</a>
</p>
<p>
  <a href="#" class="button button__large">Large button</a>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Disabled buttons</h2>

  <p><code>button</code> elements will get disabled styles with the <code>disabled</code> attribute.</p>
  <p>Since links can't have that attribute, you can make a link button look disabled with the <code>button__disabled</code> class. The class method is purely decorative so make sure your link does nothing when implementing.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttons-disabled", ruby: capture { -%>
&lt;%= link_to ".button__disabled", "#", class: "button__disabled" -%&gt;
&lt;%= f.button :button, "Disabled Button", class: "button", disabled: true -%&gt;
  <%- } } do -%>
<p>
  <a href="" class="button__disabled" onClick="javascript:return false;">Disabled button class</a>
</p>

<p>
  <button type="button" class="button" disabled>Button with disabled attribute</button>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Line buttons</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttons-line", ruby: capture { -%>
&lt;%= link_to ".button__line", "#", class: "button__line" -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button__line">Outline Button</a>
</p>

<p>
  <a href="#" class="button__secondary__line">Secondary Outline Button</a>
</p>

<p>
  <a href="#" class="button__confirm__line">Confirmation Outline Button</a>
</p>

<p>
  <a href="#" class="button__cancel__line">Cancel Outline Button</a>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Button modifiers</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttons-modifiers", ruby: capture { -%>
&lt;%= link_to ".button.button__full", "#", class: "button button__full" -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button button__full">Full-width Button</a>
</p>
<p>
  <a href="#" class="button button__depressed">Depressed Button</a>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Icons</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "button-icons", ruby: capture { -%>
&lt;%= link_to "#{icon("search", width: 16, height: 16)} Search", "#", class: "button button__icon-left icon--white" -%&gt;
&lt;%= link_to "Search #{icon("search", width: 16, height: 16)}", "#", class: "button__confirm button__icon-right icon--white" -%&gt;
&lt;%= link_to "Search #{icon("search", width: 16, height: 16)}", "#", class: "button__secondary button__icon-right icon--white" -%&gt;
&lt;%= link_to icon("search", width: 16, height: 16), "#", class: "button button__icon icon--white" -%&gt;

&lt;%= link_to "#{icon("search", width: 16, height: 16)} Search", "#", class: "button button__small button__icon-left icon--white" -%&gt;
&lt;%= link_to "#{icon("search", width: 16, height: 16)} Search", "#", class: "button__confirm button__small button__icon-right icon--white" -%&gt;
&lt;%= link_to "Search #{icon("search", width: 16, height: 16)}", "#", class: "button__secondary button__small button__icon-right icon--white" -%&gt;
&lt;%= link_to icon("search", width: 16, height: 16), "#", class: "button button__small button__icon icon--white" -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button button__icon-left icon--white">
    <%= icon("search", width: 24, height: 24) -%>
    <span>Search</span>
  </a>
  <a href="#" class="button__confirm button__icon-right icon--white">
    <span>Search</span>
    <%= icon("search", width: 24, height: 24) -%>
  </a>
  <a href="#" class="button__secondary button__icon-right icon--white">
    <span>Search</span>
    <%= icon("search", width: 24, height: 24) -%>
  </a>
  <a href="#" class="button__secondary button__icon icon--white">
    <%= icon("search", width: 24, height: 24) -%>
  </a>
</p>
<p>
  <a href="#" class="button button__small button__icon-left icon--white">
    <%= icon("search", width: 16, height: 16) -%>
    <span>Search</span>
  </a>
  <a href="#" class="button__confirm button__small button__icon-left icon--white">
    <%= icon("search", width: 16, height: 16) -%>
    <span>Search</span>
  </a>
  <a href="#" class="button__secondary button__small button__icon-right icon--white">
    <span>Search</span>
    <%= icon("search", width: 16, height: 16) -%>
  </a>
  <a href="#" class="button__secondary button__small button__icon icon--white">
    <%= icon("search", width: 16, height: 16) -%>
  </a>
</p>
  <%- end -%>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "button-icons-full", ruby: capture { -%>
&lt;%= link_to "#", class: "button button__full" do -%&gt;
  &lt;span class="button__icon-left icon--white">
    &lt;%= icon("search", width: 24, height: 24) -%>
    &lt;span>Search&lt;/span>
  &lt;/span>
&lt;%- end -%&gt;
  <%- } } do -%>
<p>
  <a href="#" class="button button__full">
    <span class="button__icon-left icon--white"><%= icon("search", width: 24, height: 24) -%> <span>Search</span></span>
  </a>
</p>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Button group</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "buttongroups" } do -%>
<div class="button-group">
  <a href="#" class="button">Left</a>
  <a href="#" class="button">Center</a>
  <a href="#" class="button__secondary">Right</a>
</div>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Button set</h2>

  <p>These buttons will always have the same gap between eachother, even when they wrap and stack.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "button-set" } do -%>
<div class="button-set">
  <%- (1..16).each do |i| -%>
  <%- button_classes = ["button", "button__confirm", "button__cancel", "button__secondary", "button__line", "button__confirm__line", "button__cancel__line"] -%>
  <div>
    <a href="#" class="<%= button_classes.sample -%>">Button <%= i -%></a>
  </div>
  <%- end -%>
</div>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Forward and Back buttons</h2>

  <p>A simple little wrapper that pushes two buttons to either side of the screen.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "button-sides" } do -%>
<div class="button-sides">
  <a href="#" class="button button__back">Back</a>
  <a href="#" class="button button__forward">Forward</a>
</div>
  <%- end -%>
  
</div>
