<% content_for :title, "Embed" %>

<div class="spacing">

  <h2 class="heading-two">Youtube Video</h2>

  <%- content_for :youtube do -%>
<div class="embed__youtube">
  <iframe src="//www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
</div>
  <%- end -%>
  <%= yield :youtube -%>
  <pre class="sg-pre prettyprint"><%= render_source(yield :youtube) -%></pre>

  <h2 class="heading-two">Vimeo Video</h2>

  <%- content_for :vimeo do -%>
<div class="embed__vimeo">
  <iframe src="//player.vimeo.com/video/1084537" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
  <%- end -%>
  <%= yield :vimeo -%>
  <pre class="sg-pre prettyprint"><%= render_source(yield :vimeo) -%></pre>

  <h2 class="heading-two">Issuu</h2>

  <%- content_for :issuu do -%>
<div data-configid="0/10351939" style="width: 525px; height: 340px;" class="issuuembed"></div>
<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
  <%- end -%>
  <%= yield :issuu -%>
  <pre class="sg-pre prettyprint"><%= render_source(yield :issuu) -%></pre>

</div>
