<%- content_for :title, "Flexible Input" -%>

<div class="content-spacing">

  <p>A flexible input is an input field that starts off small but grows when focused.</p>

  <p>The outer wrapper needs <code>data-flexible-input-container</code> and the inner wrapper needs <code>data-flexible-input</code>. The inner wrapper takes one value in the form of <code>initial-size/focus-size</code>.

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-1" } do -%>
<div data-flexible-input-container>
  <div data-flexible-input="140/300">
    <input type="text" />
  </div>
</div>
  <%- end -%>

  <p>To anchor the flexible input to the right and extend to the left, simply add <code>data-flexible-input-right</code> to your <code>data-flexible-input</code> element:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-2" } do -%>
<div data-flexible-input-container>
  <div data-flexible-input="140/300" data-flexible-input-right>
    <input type="text" />
  </div>
</div>
  <%- end -%>

  <p>An example with <code>data-flexible-input</code> value of 200/800:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-3" } do -%>
<div data-flexible-input-container>
  <div data-flexible-input="200/800">
    <input type="text" placeholder="200/800" />
  </div>
</div>
  <%- end -%>

  <p>An example with 20/400:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-4" } do -%>
<div data-flexible-input-container>
  <div data-flexible-input="20/400">
    <input type="text" placeholder="20/400" />
  </div>
</div>
  <%- end -%>

  <p>An example with 300/100, getting smaller on focus:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-5" } do -%>
<div data-flexible-input-container>
  <div data-flexible-input="300/100">
    <input type="text" placeholder="300/100" />
  </div>
</div>
  <%- end -%>

</div>