<%- content_for :title, "Lightbox" -%>

<div class="content-spacing">
  
  <p>Lightboxes are implemented using <a href="http://dimsemenov.com/plugins/magnific-popup/" target="_blank">Magnific Popup</a>.</p>
  
  <hr />
  <h2 class="heading-two">Basic Lightbox of Hidden Content</h2>

  <p>To implement a lightbox you need the <code>data-lightbox-basic</code> attribute. The value of the attribute will override the <code>type</code> of the lightbox. By default it's inline.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-1" } do -%>
<a href="#example-1" data-lightbox-basic>Open lightbox</a>
<div class="mfp-hide" id="example-1">
  <div class="panel--padding content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
  </div>
</div>
  <%- end -%>

  <p>There is a <code>section</code> helper class that you can use to seperate content in lightboxes:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-sections" } do -%>
<a href="#example-sections" data-lightbox-basic>Open lightbox</a>
<div class="mfp-hide" id="example-sections">
  <div class="section panel--padding content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
  </div>
  <div class="section panel--padding content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
  </div>
</div>
  <%- end -%>

  <hr />
  <h2 class="heading-two">Sizing</h2>

  <p>You can add the <code>data-lightbox-size="small"</code> attribute to the lightbox to give it a smaller window:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-2" } do -%>
<a href="#example-2" data-lightbox-basic data-lightbox-size="small">Open small lightbox</a>
<div class="mfp-hide" id="example-2">
  <div class="panel--padding content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
  </div>
</div>
  <%- end -%>

  <p><code>fullscreen</code> is also a valid sizing option:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-fullscreen" } do -%>
<a href="#example-fullscreen" data-lightbox-basic data-lightbox-size="fullscreen">Open fullscreen lightbox</a>
<div class="mfp-hide" id="example-fullscreen">
  <div class="panel--padding content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
  </div>
</div>
  <%- end -%>

  <hr />
  <h2 class="heading-two">Scrollable Lightbox</h2>

  <p>You can use the <code>shared/inline_lightbox</code> partial to markup your scrollable lightbox, use the <code>data-lightbox</code> attribute instead of <code>data-lightbox-basic</code> to complete the scrollable lightbox.</p>

  <p>This lightbox will automatically go fullscreen at smaller screensizes. This functionality can be disabled with the <code>$fullscreen-mobile</code> sass variable in the lightbox component.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-scrollable", ruby: capture { -%>
&lt;%= render layout: "shared/inline_lightbox", locals: { inline_id: "example-scrollable" } do -%>
  &lt;div class="panel--padding content">
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
  &lt;/div>
&lt;%- end -%>
  <%- } } do -%>
<a href="#example-scrollable" data-lightbox data-lightbox-size="small">Open lightbox</a>
<%= render layout: "shared/inline_lightbox", locals: { inline_id: "example-scrollable" } do -%>
  <div class="panel--padding content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
  </div>
<%- end -%>
  <%- end -%>

  <p>You can also pass a <code>capture</code> in to the local <code>lightbox_footer</code> variable to add something below the scrollable area:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-scrollable-footer", ruby: capture { -%>
&lt;%= render layout: "shared/inline_lightbox", locals: { inline_id: "example-scrollable-footer", lightbox_footer: capture { %>
  &lt;div class="button-set">
    &lt;div>
      &lt;button type="button" class="button__confirm">
        Ok
      &lt;/button>
    &lt;/div>
    &lt;div>
      &lt;button type="button" class="button__cancel" data-lightbox-close>
        Cancel
      &lt;/button>
    &lt;/div>
  &lt;/div>
&lt;%- } } do -%>
  &lt;div class="panel--padding content">
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
  &lt;/div>
&lt;%- end -%>
  <%- } } do -%>
<a href="#example-scrollable-footer" data-lightbox data-lightbox-size="small">Open lightbox</a>
<%= render layout: "shared/inline_lightbox", locals: { inline_id: "example-scrollable-footer", lightbox_footer: capture { %>
  <div class="button-set">
    <div><button type="button" class="button__confirm">Ok</button></div>
    <div><button type="button" class="button__cancel" data-lightbox-close>Cancel</button></div>
  </div>
<% } } do -%>
  <div class="panel--padding content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
  </div>
<%- end -%>
  <%- end -%>

  <p>Note that this will keep the content on the screen at all times, outside of the scrollable area. If you don't want this content always on the screen, consider using <code>.section</code> classes instead:

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-scrollable-sections", ruby: capture { -%>
&lt;%= render layout: "shared/inline_lightbox", locals: { inline_id: "example-scrollable-sections" } do -%>
  &lt;div class="section panel--padding content">
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
    &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.&lt;/p>
  &lt;/div>
  &lt;div class="section panel--padding content">
    &lt;div class="button-set">
      &lt;div>
        &lt;button type="button" class="button__confirm">
          Ok
        &lt;/button>
      &lt;/div>
      &lt;div>
        &lt;button type="button" class="button__cancel" data-lightbox-close>
          Cancel
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;%- end -%>
  <%- } } do -%>
<a href="#example-scrollable-sections" data-lightbox data-lightbox-size="small">Open lightbox</a>
<%= render layout: "shared/inline_lightbox", locals: { inline_id: "example-scrollable-sections" } do -%>
  <div class="section panel--padding content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque odit saepe, ipsam corrupti delectus autem labore dolorum ratione sit rem.</p>
  </div>
  <div class="section panel--padding content">
    <div class="button-set">
      <div><button type="button" class="button__confirm">Ok</button></div>
      <div><button type="button" class="button__cancel" data-lightbox-close>Cancel</button></div>
    </div>
  </div>
<%- end -%>
  <%- end -%>

  <hr />
  <h2 class="heading-two">Types</h2>

  <p>You can pass a value in to <code>data-lightbox</code> to override the type of the lightbox. This example sets the type to iframe.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-3" } do -%>
<a href="/" data-lightbox="iframe">Open lightbox</a>
  <%- end -%>

  <hr />
  <h2 class="heading-two">Images and Galleries</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "image" } do -%>
<a href="http://placehold.it/500x500" data-lightbox="image">Open image</a>
  <%- end -%>

  <p>To lightbox up a gallery of images, simply create a container with <code>data-lightbox-gallery</code> attribute. No data-attributes are needed on the images or anchors themselves as it's all delegated through this container.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "image-gallery" } do -%>
<div data-lightbox-gallery>
  <a href="http://placehold.it/500x300">
    <img src="http://placehold.it/150x150" />
  </a>
  <a href="http://placehold.it/500x400">
    <img src="http://placehold.it/150x150" />
  </a>
  <a href="http://placehold.it/500x500">
    <img src="http://placehold.it/150x150" />
  </a>
  <a href="http://placehold.it/500x600">
    <img src="http://placehold.it/150x150" />
  </a>
</div>
  <%- end -%>

  <hr />
  <h2 class="heading-two">Linking Modals</h2>

  <p>Linking to a modal from within a modal can look pretty lame because it's sudden and jarring. You can improve the experience by adding <code>data-lightbox-linked</code> attribute on your lightbox links that appear inside modals to fade them out before the modal fades in.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-linked" } do -%>
<a href="#linked-1" data-lightbox-basic data-lightbox-size="small">Open lightbox</a>
<div class="mfp-hide" id="linked-1">
  <div class="panel--padding content">
    <p>Modal #1</p>
    <p><a href="#linked-2" data-lightbox-basic data-lightbox-size="small" data-lightbox-linked>Link to modal #2</a></p>
  </div>
</div>
<div class="mfp-hide" id="linked-2">
  <div class="panel--padding content">
    <p>Modal #2</p>
  </div>
</div>
  <%- end -%>

  <hr />
  <h2 class="heading-two">Custom close button</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "custom-close" } do -%>
<a href="#custom-close" data-lightbox-basic data-lightbox-size="small">Open lightbox</a>
<div class="mfp-hide" id="custom-close">
  <div class="panel--padding content">
    <p>This lightbox has a custom close button.</p>
    <p><button data-lightbox-close>Click this to close this modal.</button></p>
  </div>
</div>
  <%- end -%>

  <hr />
  <h2 class="heading-two">Custom lightbox actions</h2>

  <p>Sometimes you need a lightbox to open programatically. Below is a code sample using the <code>openLightbox</code> method which hooks directly in to Magnific Popups <code>$.magnificPopup.open()</code> function:</p>

  <pre class="sg-pre">
Ornament.C.Lightbox.openLightbox({
  type: "inline",
  items: {
    src: "#id-of-element"
  }
});</pre>

  <p>The code above gets all the default lightbox settings then specifies the inline type and that the popup should open up the element of <code>#id-of-element</code>.</p>

  <p>This method ensures that all the Ornament settings for magnific popup are retained when you open your new lightbox.</p>  

  <p>You can read more about programatic popup options at <a href="http://dimsemenov.com/plugins/magnific-popup/documentation.html#initializing-popup">the Magnific Popup documentation page</a>.</p>

  <p>You can preview the default settings by using:</p>

  <pre class="sg-pre">Ornament.C.Lightbox.defaults</pre>

  <p>Magnific Popup has a function to close all popups, which might come in handy:</p>

  <pre class="sg-pre">$.magnificPopup.close();</pre>

  <p>or alternatively, we have an alias for it in Ornament:</p>

  <pre class="sg-pre">Ornament.C.Lightbox.closeLightbox();</pre>

  <p>Both functions do exactly the same thing, there's no reason to use one over the other. Dealer's choice.</p>

  <hr />
  <h2 class="heading-two">Rails <code>data-confirm</code> replacement</h2>

  <p>Rails has a method for easily adding a yes/no dialog confirmation box to links via it's <code>data-confirm="[message]"</code> attribute. Ornament over-rides that behaviour to turn it in to a much nicer lightbox with no other requirements:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "confirm-1" } do -%>
<a href="/styleguide" data-confirm="Are you sure?">Delete my account</a>
  <%- end -%>

  <p>The text of the link is pulled in to the header of the lightbox. The text in the <code>data-confirm</code> attribute is used for the text in the lightbox.</p>

  <p>You can over-ride the text on the confirm and cancel buttons by passing in <code>data-confirm-cancel=""</code> and <code>data-confirm-confirm=""</code>. </p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "confirm-2" } do -%>
<a href="/styleguide" data-confirm="Do you really, really want to delete your account?" data-confirm-cancel="No! I don't want to any more!" data-confirm-confirm="Yes! I really, really do.">Delete my account</a>
  <%- end -%>

</div>