<% content_for :title, "Panels" %>

<div class="content-spacing">

  <h2 class="heading-two">Panels and colour variants</h2>

  <p>To create a panel, all you need is a <code>panel</code> class:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-1" } do -%>
<div class="panel panel__passive">
  This is a panel
</div>
  <%- end -%>

  <p>There are a few different out-of-the-box colour variations for panels:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-colouring" } do -%>
<div class="panel-spacing">
  <div class="panel__primary">
    Primary colour panel <a href="#">Link</a>
  </div>
  <div class="panel__alert">
    Alert panel <a href="#">Link</a>
  </div>
  <div class="panel__error">
    Error panel <a href="#">Link</a>
  </div>
  <div class="panel__notice">
    Notice panel <a href="#">Link</a>
  </div>
  <div class="panel__success">
    Success panel <a href="#">Link</a>
  </div>
  <div class="panel__passive">
    Passive Panel <a href="#">Link</a>
  </div>
</div>
  <%- end -%>

  <p>You can create custom panel classes by adding colour variations to the <code>panel.css.scss</code> file.</p>

  <hr />

  <h2 class="heading-two">Panel padding</h2>

  <p>You can add <code>.panel--padding</code> to add padding to the panel.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-padding" } do -%>
<div class="panel__passive panel--padding">
  Panel with padding
</div>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Stacking panels</h2>

  <p>You can stack panels by adding in the <code>panel__no-bottom-radius</code> and <code>panel__no-top-radius</code> classes:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-stacked" } do -%>
<div class="panel">
  <div class="panel__primary panel--padding panel__no-bottom-radius">
    Blue panel with no bottom radius
  </div>
  <div class="panel__passive panel--padding panel__no-top-radius">
    Panel with no top radius
  </div>
</div>
  <%- end -%>

  <p>This is the reason why panels don't have padding by default, so that panels can stack and have independant padding.</p>

  <hr />

  <h2 class="heading-two">Spacing panels</h2>

  <p>You can space out panels by using the <code>panel-spacing</code> wrapper class:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-spacing" } do -%>
<div class="panel-spacing">
  <div class="panel__passive panel--padding">
    Panel 1
  </div>
  <div class="panel__passive panel--padding">
    Panel 2
  </div>
</div>
  <%- end -%>

  <p>By default it will space out all <code>panel</code> elements, but you can also add a <code>panel-spacer</code> class to space out non-panels as if they were a panel. In the example below, "Panel 2" isn't actually a panel, but it acts like one when sitting next to other panels.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-spacing-with-spacers" } do -%>
<div class="panel-spacing">
  <div class="panel__passive panel--padding">
    Panel 1
  </div>
  <div class="panel-spacer">
    Panel 2
  </div>
  <div class="panel__passive panel--padding">
    Panel 3
  </div>
</div>
  <%- end -%>


  <hr />

  <h2 class="heading-two">Panel bordering</h2>

  <p>You can add a border around the entire panel with the <code>.panel__border</code> class.</p>
  <p>You can add top borders to panel sections using the <code>.panel--border-top</code> class.</p>
  <p>Panel border styles can be customised in <code>settings.scss</code> with the <code>$panel-border</code> variable.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "example-borders" } do -%>
<div class="panel-spacing">
  <div class="panel__passive panel--padding panel__border">
    Panel
  </div>
  <div class="panel__success panel--padding panel__border">
    Panel
  </div>
  <div class="panel__error panel__border">
    <div class="panel--padding">
      Panel
    </div>
    <div class="panel--padding panel--border-top">
      Panel
    </div>
  </div>
</div>
  <%- end -%>

</div>
