<%-

  cache_version ||= "1"
  koi_settings ||= true

  # Defaults 
  seo_title ||= "Ornament Pattern Library and UI/UX Documentation"
  seo_title_postfix ||= seo_title
  seo_keywords ||= false
  seo_description ||= ""
  seo_image ||= false # "#{root_url}assets/share.png?v=#{cache_version}"
  theme_colour ||= "#4b9dd0";
  use_pwa_settings ||= false

  # Twitter Settings
  twitter_handle ||= ""
  twitter_creator ||= ""

  # Koi Site Settings 
  if defined?(Translation) && koi_settings 
    koi_title = Translation.find_by_key('site.title').try(:value)
    koi_description = Translation.find_by_key('site.meta_description').try(:value)
    koi_keywords = Translation.find_by_key('site.meta_keywords').try(:value)
    site_settings_title = clean_share_input(koi_title) if koi_title
    site_settings_meta = clean_share_input(koi_description) if koi_description
    site_settings_keywords = clean_share_input(koi_keywords) if koi_keywords
    seo_title = site_settings_title if !koi_title.blank?
    seo_title_postfix = seo_title if !koi_title.blank?
  end

  # Page Title
  if !seo("title").blank?
    seo_title = seo("title")
  elsif content_for?(:page_title)
    seo_title = yield(:page_title)
  elsif content_for?(:title)
    seo_title = yield(:title)
  elsif content_for?(:og_title)
    seo_title = yield(:og_title)
  end

  # Append | <postfix> to the end of title if necessary
  if !seo_title_postfix.blank? && !seo_title.include?(seo_title_postfix)
    seo_title = raw "#{seo_title} - #{seo_title_postfix}"
  end

  # Meta Description
  if !seo("meta_description").blank?
    seo_description = clean_share_input(seo('meta_description'))
  elsif content_for?(:og_description) 
    seo_description = yield(:og_description)
  elsif site_settings_meta.present?
    seo_description = clean_share_input(site_settings_meta)
  end

  # Meta Keywords
  if !seo("meta_keywords").blank?
    seo_keywords = clean_share_input(seo('meta_keywords'))
  elsif site_settings_keywords.present?
    seo_keywords = clean_share_input(site_settings_keywords)
  end

  # Meta Image
  if content_for?(:meta_image)
    seo_image = yield(:meta_image)
  end

  # Facebook Title
  if content_for?(:og_title) 
    facebook_title = yield(:og_title)
  else
    facebook_title = seo_title
  end

  # Facebook description
  if content_for?(:og_description)
    facebook_description = yield(:og_description)
  else
    facebook_description = seo_description
  end

  # Facebook author
  facebook_author = content_for?(:og_author) ? yield(:og_author) : false

  # Facebook publish time
  facebook_publish_time = content_for?(:og_publish_time) ? yield(:og_publish_time) : false

  # Facebook image
  if content_for?(:og_image)
    facebook_image = yield(:og_image)
  elsif content_for?(:meta_image)
    facebook_image = yield(:meta_image)
  else
    facebook_image = seo_image
  end

  # Twitter Image
  if content_for?(:twitter_image)
    twitter_image = yield(:twitter_image)
  elsif content_for(:og_image)
    twitter_image = yield(:og_image)
  elsif content_for(:meta_image)
    twitter_image = yield(:meta_image)
  else
    twitter_image = seo_image
  end

  # Add base URL to facebook image
  facebook_image = absolute_url(facebook_image)

  # Add base URL to twitter image
  twitter_image = absolute_url(twitter_image)

  # Thene Colour
  if content_for?(:meta_theme_colour)
    theme_colour = yield(:meta_theme_colour)
  end

-%>

<%# Meta %>
<title><%= seo_title -%></title>
<meta name="description" content="<%= raw seo_description %>">
<%- if seo_keywords -%>
  <meta name="keywords" content="<%= raw seo_keywords %>">
<%- end -%>
<%- if facebook_image -%>
  <link rel="image_src" href="<%= facebook_image -%>" />
<%- end -%>

<%# Facebook %>
<%- if facebook_image && !content_for?(:disable_og_image) -%>
  <meta property="og:image" content="<%= facebook_image -%>" />
<%- end -%>
<meta property="og:title" content="<%= facebook_title -%>" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:description" content="<%= raw facebook_description -%>">
<%- if facebook_author -%>
  <meta property="og:author" content="<%= facebook_author -%>" />
<%- end -%>
<%- if facebook_publish_time -%>
  <meta property="og:published_time" content="<%= facebook_publish_time -%>" />
<%- end -%>

<%# Twitter %>
<meta name="twitter:card" content="summary" />
<%- unless twitter_handle.blank? -%>
  <meta name="twitter:site" content="<%= twitter_handle -%>" />
<%- end -%>
<%- unless twitter_image.blank? -%>
  <meta name="twitter:image" content="<%= twitter_image -%>" />
<%- end -%>
<%- unless twitter_creator.blank? -%>
  <meta name="twitter:creator" content="<%= twitter_creator -%>">
<%- end -%>
<meta name="twitter:title" content="<%= seo_title -%>">
<meta name="twitter:url" content="<%= request.original_url %>">
<meta name="twitter:description" content="<%= raw seo_description -%>">

<%# Application Icons %>
<% if use_pwa_settings %>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="<%= webmanifest_path(format: :webmanifest) %>">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="<%= theme_colour %>">
  <meta name="theme-color" content="<%= theme_colour %>">
<% end %>

<%# Strucuted Data for enhanced search results %>
<%# Docs - https://developers.google.com/search/docs/guides/enhance-site %>
<%# Testing tool - https://search.google.com/structured-data/testing-tool %>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  <% if content_for?(:structured_data) %>
    <%= yield :structured_data %>
  <% else %>
    "@type": "Organization",
    "url": "<%= root_url %>",
    "logo": "<%#= asset_url("logo.png") %>"
  <% end %>
}
</script>