<!DOCTYPE html>
<html lang="en">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta charset="utf-8"/>

    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> &ndash;
      <% end %>
      <%= Rails.application.class.name.split("::").first.humanize %>
    </title>

    <!-- META -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667"/>
    <% unless Rails.env == "production" %>
      <meta name="robots" content="noindex,nofollow"/>
    <% end  %>
    <%= yield :meta %>

    <!-- WEBFONTS -->
    <%= render "layouts/webfonts" -%>

    <!-- STYLES -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :styles %>

    <!-- SCRIPTS -->
    <%= javascript_include_tag "modernizr.js" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "selectivizr.js" %>
      <%= javascript_include_tag "css3-mediaqueries.js" %>
    <![endif]-->
    <%= yield :scripts %>

  </head>

  <body>

    <a class="skip-link" href="#main">skip to content</a>

    <div class="layout">

      <div class="layout--mobile-tray">
        <nav class="navigation-mobile">
          <div class="pane-wrapper">
            <div class="pane">
              <div class="pane--navigation-container">

                <!--
                <ul class="non-pane">
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li data-description="Description of link with children.">
                    <a href="#">Link with Children</a>
                    <ul>
                      <li><a href="#">Sublink</a></li>
                      <li><a href="#">Sublink</a></li>
                      <li><a href="#">Sublink</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Link</a></li>
                </ul>
                -->

                <ul class="non-pane">
                  <li id="key_10" class="navigation-item"><a href="/talk-with-us">Talk With Us</a></li>
                  <li description="Life Care can help through a range of services provided in your home or with our accommodation options" id="key_11" class="navigation-item has-children">
                    <a href="/how-we-can-help">How We Can Help</a>
                    <ul>
                      <li description="Helping people stay at home longer through in home care" id="key_26" class="navigation-item"><a href="/life-care-at-home">Life Care at Home</a></li>
                      <li description="Providing Carers a break from daily care commitments" id="key_25" class="navigation-item"><a href="/respite-services">Respite</a></li>
                      <li description="A range of services provided with our independent living accommodation options" id="key_85" class="navigation-item"><a href="/retirement-living">Independent Living</a></li>
                      <li description="A range of services provided with our residential accommodation options" id="key_84" class="navigation-item"><a href="/residential-living">Residential Living</a></li>
                    </ul>
                  </li>
                  <li description="Life Care has many accommodation options if you are looking to downsize into our independent living villages or if you are no longer able to manage at home" id="key_13" class="navigation-item has-children">
                    <a href="/living-with-us">Living With Us</a>
                    <ul class="residential_living">
                      <li description="Rental homes and homes to purchase within the Life Care community" id="key_68" class="navigation-item"><a href="/retirement-living">Independent Living</a></li>
                      <li description="Locations of Life Care's residential and independent living sites" id="key_34" class="navigation-item"><a href="/locations">Our Locations</a></li>
                      <li description="Accommodation options when you are unable to manage at home" id="key_69" class="navigation-item"><a href="/residential-living">Residential Living</a></li>
                    </ul>
                  </li>
                  <li description="Life Care Active is the only allied health and fitness centre for men and women 55+" id="key_16" class="navigation-item has-children">
                    <a href="/keeping-active">Keeping Active</a>
                    <ul>
                      <li description="Keeping fit and active through a range of specialist allied health services and fitness programs" id="key_95" class="navigation-item"><a href="/life-care-active">About Life Care Active</a></li>
                      <li description="Download the latest timetable for our classes and services" id="key_96" class="navigation-item"><a href="/life-care-active#timetable">Timetables</a></li>
                      <li description="The range of Professional, Preventative, Proactive and Personal heath and fitness services we offer" id="key_97" class="navigation-item"><a href="/life-care-active#services">Health &amp; Fitness Services</a></li>
                      <li description="Looking after your health and well being at affordable competitive rates" id="key_98" class="navigation-item"><a href="/life-care-active#pricing">Pricing</a></li>
                      <li description="" id="key_99" class="navigation-item"><a href="/life-care-active#contact">Contact Us</a></li>
                    </ul>
                  </li>
                  <li description="Life Care is always interested in working with like minded people as staff and as volunteers to help our customers 'Live Every Day'" id="key_17" class="navigation-item has-children">
                    <a href="/working-with-us">Working With Us</a>
                    <ul>
                      <li description="Currently available position vacancies for roles at Life Care" id="key_24" class="navigation-item"><a href="/careers/all_positions">Positions Available</a></li>
                      <li description="Express interest in potential future roles at Life Care" id="key_23" class="navigation-item"><a href="/careers/register_interest">Register Your Interest</a></li>
                      <li description="Donate your time to become a valued member of our team" id="key_35" class="navigation-item"><a href="/volunteer-with-us">Volunteer With Us</a></li>
                    </ul>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </nav>
      </div>

      <%= content_tag :div, class: "layout--content environment-#{Rails.env}" do %>

        <header class="layout--header" role="banner">
          <div class="layout--container">
            <div class="header">
              desktop header
              <button class="layout--switch header--menu">open navigation</button>
            </div>
          </div>
        </header>

        <div class="layout--container">
          <section class="layout--main" role="main">
            <a id="main" name="main" tabindex="-1"></a>
              <%= content_for?(:global) ? yield(:global) : yield %>
          </section>
        </div>

        <footer class="layout--footer" role="contentinfo">
          <div class="layout--container">
            <div class="footer">
              desktop footer
            </div>
          </div>
        </footer>

      </div>

    <% end %>

    <%= javascript_include_tag "application_bottom" %>
    <%= yield :scripts_bottom %>

  </body>

</html>
