<!DOCTYPE html>
<html lang="en">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta charset="utf-8"/>

    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> &ndash;
      <% end %>
      <%= Rails.application.class.name.split("::").first.humanize %>
    </title>

    <!-- META -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667"/>
    <% unless Rails.env == "production" %>
      <meta name="robots" content="noindex,nofollow"/>
    <% end  %>
    <%= yield :meta %>

    <!-- WEBFONTS -->
    <%= render "layouts/webfonts" -%>

    <!-- STYLES -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :styles %>

    <!-- SCRIPTS -->
    <%= javascript_include_tag "modernizr.js" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "selectivizr.js" %>
      <%= javascript_include_tag "css3-mediaqueries.js" %>
    <![endif]-->
    <%= yield :scripts %>

  </head>

  <body>

    <a class="skip-link" href="#main">skip to content</a>

    <div class="layout">

      <div class="layout--mobile-tray">
        <nav class="navigation-mobile">
          <div class="pane-wrapper">
            <div class="pane">
              <div class="pane--navigation-container">
                <ul class="non-pane">
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li data-description="Description of link with children.">
                    <a href="#">Link with Children</a>
                    <ul>
                      <li><a href="#">Sublink</a></li>
                      <li><a href="#">Sublink</a></li>
                      <li><a href="#">Sublink</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <%= content_tag :div, class: "layout--content environment-#{Rails.env}" do %>

        <header class="layout--header" role="banner">
          <div class="layout--container">
            <div class="header">
              desktop header
              <button class="layout--switch header--menu">open navigation</button>
            </div>
          </div>
        </header>

        <div class="layout--container">
          <section class="layout--main" role="main">
            <a id="main" name="main" tabindex="-1"></a>
              <%= content_for?(:global) ? yield(:global) : yield %>
          </section>
        </div>

        <footer class="layout--footer" role="contentinfo">
          <div class="layout--container">
            <div class="footer">
              desktop footer
            </div>
          </div>
        </footer>

      </div>

    <% end %>

    <%= javascript_include_tag "application_bottom" %>
    <%= yield :scripts_bottom %>

  </body>

</html>
