<!DOCTYPE html>
<html lang="en">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta charset="utf-8"/>

    <%= render "layouts/seo" -%>

    <!-- META -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% unless Rails.env == "production" %>
      <meta name="robots" content="noindex,nofollow"/>
    <% end  %>
    <%= yield :meta %>

    <script>
      window.Ornament = {};
    </script>

    <!-- WEBFONTS -->
    <script>
      WebFontConfig = {
        // google: {
        //   families: ['Open Sans:400,700,400italic,700italic'],
        // }
      };
      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>

    <!-- STYLES -->
    <%= split_stylesheet_link_tag "application", :media => "all" %>
    <%= yield :styles %>

    <!-- SCRIPTS -->
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <%#= javascript_include_tag "selectivizr" %>
      <%= javascript_include_tag "respond" %>
    <![endif]-->
    <%= yield :scripts %>

  </head>

  <!--[if lte IE 8 ]><body class="ie8 <%= yield :body_class -%>"> <![endif]-->
  <!--[if (gt IE 8)|!(IE)]><!--> <body class="<%= yield :body_class -%>"> <!--<![endif]-->

    <a class="skip-link" href="#main">skip to content</a>

    <div class="layout">

      <div class="layout--mobile-tray">
        <nav class="navigation-mobile">
          <div class="pane-wrapper">

            <div class="pane">
              <div class="pane--navigation-container">

                <ul class="non-pane">
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li data-description="Description of link with children.">
                    <a href="#">Link with Children</a>
                    <ul>
                      <li><a href="#">Sublink</a></li>
                      <li><a href="#">Sublink</a></li>
                      <li><a href="#">Sublink</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Link</a></li>
                </ul>

              </div>
            </div>
          </div>
        </nav>
      </div>

      <%= content_tag :div, class: "layout--content environment-#{Rails.env}" do %>

        <header class="header" role="banner">
          <div class="layout--container">
            header
            <button class="layout--switch header--menu" data-mobile-menu-switch>open navigation</button>
          </div>
        </header>
        
        <a id="main" name="main" tabindex="-1"></a>

        <div data-layout-positioner class="layout--positioner">
          <%= render "/shared/oldie" -%>
          <%= yield :above_layout -%>
          <%= render "/shared/flash" -%>
          <%- if content_for?(:global) || !yield.blank? -%>
            <main class="layout--main <%= yield(:layout_class) -%>" role="main">
              <div class="layout--container">
                <%= content_for?(:global) ? yield(:global) : yield %>
              </div>
            </main>
          <%- end -%>
          <%= yield :below_layout -%>

          <footer class="footer" role="contentinfo">
            <div class="layout--container">
              footer
            </div>
          </footer>
        </div>

      </div>

    <% end %>

    <%= javascript_include_tag "application_bottom" %>
    <%= yield :scripts_bottom %>

  </body>

</html>
