<% content_for :styles do %>
  <%= stylesheet_link_tag "styleguide" %>
<% end %>
<% content_for :styles do %>
  <%= javascript_include_tag "https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&lang=css" -%>
<% end %>

<% content_for :global do %>
  <% if content_for? :title %>
    <h1 class="heading-one">
      Ornament Styleguide: <%= yield :title %>
    </h1>
    <%= link_to "< back to styleguide", "/styleguide", class: "sg-back" -%>
  <% else %>
    <h1 class="sg-title heading-one">Ornament Styleguide</h1>
  <% end %>
  <%= content_for?(:application) ? yield(:application) : yield %>
<% end %>

<%= render :file => "layouts/global" %>
