<!DOCTYPE html>
<html lang="en">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta charset="utf-8"/>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> &ndash;
      <% end %>
      Dummy
    </title>

    <!-- META -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <%= yield :meta %>

    <!-- STYLES -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :styles %>

    <!-- SCRIPTS -->
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]><%= javascript_include_tag "IE9.js" %><![endif]-->
    <%= yield :scripts %>

  </head>

  <body>

    <a class="access--skip-link" href="#main">skip to content</a>

    <div class="layout">

      <div class="layout--mobile-tray">
        mobile nav
        <br />
        mobile nav
      </div>

      <div class="layout--content">

        <header class="layout--mobile-header">
          <button class="layout--switch">open navigation</button>
          mobile header
        </header>

        <!-- All container classes are optional. -->
        <div class="layout--container">
          <header class="layout--desktop-header">
            <div class="layout--container">
              desktop header
            </div>
          </header>
        </div>

        <!-- All container classes are optional. -->
        <div class="layout--container">
          <section class="layout--main" role="main">
            <div class="layout--container">
              <%= content_for?(:global) ? yield(:global) : yield %>
            </div>
          </section>
        </div>

        <footer class="layout--mobile-footer">
          mobile footer
        </footer>

      </div>

      <!-- All container classes are optional. -->
      <footer class="layout--desktop-footer">
        <div class="layout--container">
          desktop footer
        </div>
      </footer>

    </div>

  </body>

</html>
