<!DOCTYPE html>
<html lang="en">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta charset="utf-8"/>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> &ndash;
      <% end %>
      Dummy
    </title>

    <!-- META -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <%= yield :meta %>

    <!-- STYLES -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :styles %>

    <!-- SCRIPTS -->
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]><%= javascript_include_tag "IE9.js" %><![endif]-->
    <%= yield :scripts %>

  </head>

  <body>

    <a class="access--skip-link" href="#main">skip to content</a>

    <div class="layout">
      <div class="layout--content rhythm">
        <header class="header">
          <div class="layout--container">
            <h1 class="header--title">
              <%= image_tag "http://placehold.it/200x100&text=LOGO", alt: "Logo" %>
            </h1>
          </div>
        </header>
        <section class="layout--container rhythm">
          <%= content_for?(:global) ? yield(:global) : yield %>
        </section>
      </div>
      <footer class="layout--footer footer">
        <div class="layout--container">
          footer
        </div>
      </footer>
    </div>

  </body>

</html>
