<%- 
  heading_class ||= "heading-two"
  list_class ||= ""
-%>

<h2 class="<%= heading_class -%>">Introduction</h2>
<ul class="<%= list_class -%>">
  <li><a href="/styleguide/getting_started_intro">What is Ornament?</a></li>
  <li><a href="https://github.com/katalyst/ornament/wiki/S-CSS-Styleguide-and-Coding-Standards">S/CSS Styleguide and Coding Standards</a></li>
  <li><a href="/styleguide/sample_content">Sample Content Page</a></li>
</ul>

<hr />

<h2 class="<%= heading_class -%>">Dynamic application layout</h2>
<ul class="<%= list_class -%>">
  <li><a href="/styleguide/layout_sidebar_left">Sidebar left</a></li>
  <li><a href="/styleguide/layout_sidebar_right">Sidebar right</a></li>
  <li><a href="/styleguide/layout_above_below">Above and below page</a></li>
  <li><a href="/styleguide/flash">Flash Messages</a></li>
  <li><a href="/styleguide/opengraph">Opengraph</a></li>
  <li><a href="/styleguide/layout_yields">Other default yields</a></li>
  <li><a href="/styleguide/layout_helpers">Rails Helpers</a></li>
  <li><a href="/styleguide/skip_link">Skip Link</a></li>
</ul>

<hr />

<h2 class="<%= heading_class -%>">CSS components</h2>
<ul class="<%= list_class -%>">
  <li><a href="/styleguide/align">Align</a></li>
  <li><a href="/styleguide/blankstate">Blankstate</a></li>
  <li><a href="/styleguide/button">Button</a></li>
  <li><a href="/styleguide/card">Card</a></li>
  <li><a href="/styleguide/clearfix">Clearfix</a></li>
  <li><a href="/styleguide/environment">Environment</a></li>
  <li><a href="/styleguide/navigation">Navigation</a></li>
  <li><a href="/styleguide/nested_link">Nested Link</a></li>
  <li><a href="/styleguide/pagination">Pagination</a></li>
  <li><a href="/styleguide/panel">Panel</a></li>
  <li><a href="/styleguide/embed">Responsive Embeds</a></li>
  <li><a href="/styleguide/table">Table</a></li>
  <li><a href="/styleguide/typography">Typography and Spacing</a></li>
</ul>

<hr />

<h2 class="<%= heading_class -%>">SASS utilities</h2>
<ul class="<%= list_class -%>">
  <li><a href="/styleguide/flex">Flexbox</a></li>
  <li><a href="/styleguide/grunticons">Grunticons</a></li>
  <li><a href="/styleguide/lists">List mixins</a></li>
  <li><a href="/styleguide/media_queries">Media Queries</a></li>
  <li><a href="/styleguide/spang">Spang - Responsive grids</a></li>
  <li><a href="/styleguide/vertre">Vetre - Vertically aligning an image inside a responsive square</a></li>
</ul>  

<hr />

<h2 class="<%= heading_class -%>">JS utilities</h2>
<ul class="<%= list_class -%>">
  <li><a href="/styleguide/event-tracking">Event Tracking</a></li>
  <li><a href="/styleguide/showjs">ShowJS</a></li>
  <li><a href="/styleguide/conformjs">ConformJS</a></li>
  <li><a href="/styleguide/select_link">&lt;select> links</a></li>
  <li><a href="/styleguide/js_helpers">Ornament JS Helpers</a></li>
</ul>

<hr />

<h2 class="<%= heading_class -%>">Components</h2>
<ul class="<%= list_class -%>">
  <li><a href="/styleguide/flexible_input">Flexible Input</a></li>
  <li><a href="/styleguide/form">Form</a></li>
  <li><a href="/styleguide/form_upload">Form - Image Uploader</a></li>
  <li><a href="/styleguide/fotorama">Fotorama - Slider and Galleries</a></li>
  <li><a href="/styleguide/lightbox">Lightbox</a></li>
  <li><a href="/styleguide/map">Map</a></li>
  <li><a href="/styleguide/menu_aim">Menu Aim</a></li>
  <li><a href="/styleguide/mobile_navigation">Mobile Navigation</a></li>
  <li><a href="/styleguide/object_slider">Object Slider</a></li>
  <li><a href="/styleguide/read_more">Read more</a></li>
  <li><a href="/styleguide/selector">Selector</a></li>
  <li><a href="/styleguide/tabs">Tabs</a></li>
  <li><a href="/styleguide/toggle">Toggle</a></li>
  <li><a href="/styleguide/tooltip">Tooltip</a></li>
</ul>

<hr />

<h2 class="<%= heading_class -%>">Developer resources</h2>
<ul class="<%= list_class -%>">
  <li><a href="https://github.com/katalyst/ornament/blob/develop/TODO.md" target="_blank">Developer Wishlist</a></li>
  <li><a href="https://github.com/katalyst/ornament/blob/develop/CHANGELOG.md" target="_blank">Changelog</a></li>
</ul>