<%
  last_section = false
  navigation = [
    {
      section: "Introduction",
      label: "What is Ornament?",
      url: styleguide_path,
      keywords: "philosphy,styleguide,help,information,framework",
    },
    {
      section: "Introduction",
      label: "Getting started",
      url: "/styleguide/getting_started",
      keywords: "generate,generator,generating",
    },
    {
      section: "Introduction",
      label: "JQueryUI",
      url: "/styleguide/jquery_ui",
      keywords: "datepicker",
    },
    {
      section: "Layout",
      label: "Koi integration",
      url: "/styleguide/koi_settings",
      keywords: "cms",
    },
    {
      section: "Layout",
      label: "SEO partial",
      url: "/styleguide/seo",
      keywords: "search,engine,meta,tag",
    },
    {
      section: "Layout",
      label: "Flash messages",
      url: "/styleguide/flash",
      keywords: "global,alert,info,popup",
    },
    {
      section: "Layout",
      label: "Sidebar yields",
      url: "/styleguide/layout_sidebar_left",
      keywords: "template,global,application",
    },
    {
      section: "Layout",
      label: "Above and below yields",
      url: "/styleguide/layout_above_below",
      keywords: "template,global,application",
    },
    {
      section: "Layout",
      label: "Other default yields",
      url: "/styleguide/layout_yields",
      keywords: "template,global,application",
    },
    {
      section: "Layout",
      label: "Rails helpers",
      url: "/styleguide/layout_helpers",
    },
    {
      section: "Layout",
      label: "Environment banner",
      url: "/styleguide/environment",
    },
    {
      section: "Layout",
      label: "Fixed Footer",
      url: "/styleguide/fixed_footer",
      keywords: "sticky",
    },
    {
      section: "Layout",
      label: "SVG icons",
      url: "/styleguide/icons",
      keywords: "grunticon,helpers,rails",
    },
    {
      section: "Layout",
      label: "Devise views",
      url: "/styleguide/devise",
      keywords: "user,login,session",
    },
    {
      section: "Layout",
      label: "Navigation renderer",
      url: "/styleguide/simple_navigation",
      keywords: "simple navigation,menu",
    },
    {
      section: "Layout",
      label: "Service worker and webmanifest",
      url: "/styleguide/service_worker",
      keywords: "pwa,mobile,app",
    },
    {
      section: "Layout",
      label: "Skip link",
      url: "/styleguide/skip_link",
    },
    {
      section: "CSS",
      label: "Align",
      url: "/styleguide/align",
    },
    {
      section: "CSS",
      label: "Background helpers",
      url: "/styleguide/bg_helpers",
    },
    {
      section: "CSS",
      label: "Blankstate",
      url: "/styleguide/blankstate",
      keywords: "well,emptystate",
    },
    {
      section: "CSS",
      label: "Buttons",
      url: "/styleguide/button",
    },
    {
      section: "CSS",
      label: "Card",
      url: "/styleguide/card",
      keywords: "grid,tiles,listing",
    },
    {
      section: "CSS",
      label: "Heading with button",
      url: "/styleguide/heading_with_button",
      keywords: "structure,layout",
    },
    {
      section: "CSS",
      label: "Navigation",
      url: "/styleguide/navigation",
      keywords: "layout,structure,menu",
    },
    {
      section: "CSS",
      label: "Nested link",
      url: "/styleguide/nested_link",
      keywords: "cards,fake link",
    },
    {
      section: "CSS",
      label: "Pagination",
      url: "/styleguide/pagination",
      keywords: "kaminari",
    },
    {
      section: "CSS",
      label: "Panel",
      url: "/styleguide/panel",
      keywords: "structure,layout",
    },
    {
      section: "CSS",
      label: "Responsive embeds",
      url: "/styleguide/embed",
      keywords: "youtube,issuu,third party,iframe,aspect,ratio aware",
    },
    {
      section: "CSS",
      label: "Round",
      url: "/styleguide/round",
      keywords: "border-radius,circle,button,image",
    },
    {
      section: "CSS",
      label: "Spacing",
      url: "/styleguide/spacing",
      keywords: "layout,structure",
    },
    {
      section: "CSS",
      label: "Table",
      url: "/styleguide/table",
    },
    {
      section: "CSS",
      label: "Typography",
      url: "/styleguide/typography",
      keywords: "type,link,colour,text,heading,body,layout,spacing",
    },
    {
      section: "JS",
      label: "Ornament helpers",
      url: "/styleguide/js_helpers",
    },
    {
      section: "JS",
      label: "Event tracking",
      url: "/styleguide/event-tracking",
      keywords: "analytics,google tag manager",
    },
    {
      section: "JS",
      label: "ScrollTo",
      url: "/styleguide/scrollto",
      keywords: "animation,link",
    },
    {
      section: "JS",
      label: "ShowJS",
      url: "/styleguide/showjs",
      keywords: "show,hide,form,fields",
    },
    {
      section: "JS",
      label: "SelectLink",
      url: "/styleguide/select_link",
      keywords: "<select>,menu,list",
    },
    {
      section: "JS",
      label: "ShiftyJS",
      url: "/styleguide/shifty",
      keywords: "move,show,hide,responsive",
    },
    {
      section: "JS",
      label: "TransitionToggle",
      url: "/styleguide/transition_toggle",
      keywords: "show,hide,animation",
    },
    {
      section: "SASS",
      label: "Container",
      url: "/styleguide/container",
      keywords: "max-width,center,centre,structure,layout",
    },
    {
      section: "SASS",
      label: "Flexbox",
      url: "/styleguide/flex",
    },
    {
      section: "SASS",
      label: "List mixins",
      url: "/styleguide/lists",
      keywords: "items,navigation,menu,listing",
    },
    {
      section: "SASS",
      label: "Media queries",
      url: "/styleguide/media_queries",
      keywords: "responsive",
    },
    {
      section: "SASS",
      label: "Overlay",
      url: "/styleguide/overlay",
      keywords: "black,darken,fill",
    },
    {
      section: "SASS",
      label: "Spang Grids",
      url: "/styleguide/spang",
      keywords: "flexbox,float,system",
    },
    {
      section: "Components",
      label: "Carousel",
      url: "/styleguide/carousel",
      keywords: "gallery,fotorama,slider,banner,thumbnails",
    },
    {
      section: "Components",
      label: "Drilldown",
      url: "/styleguide/drilldown",
      keywords: "menu,navigation,jquery",
    },
    {
      section: "Components",
      label: "Flexible Input",
      url: "/styleguide/flexible_input",
      keywords: "form,responsive,jquery",
    },
    {
      section: "Components",
      label: "Form",
      url: "/styleguide/form",
      keywords: "field,input,textarea",
    },
    {
      section: "Components",
      label: "Form - Image Uploader",
      url: "/styleguide/form_upload",
      keywords: "gallery,file,jquery"
    },
    {
      section: "Components",
      label: "Lightbox",
      url: "/styleguide/lightbox",
      keywords: "popup,modal,magnific popup,jquery"
    },
    {
      section: "Components",
      label: "Map",
      url: "/styleguide/map",
      keywords: "google,leaflet,pin,marker",
    },
    {
      section: "Components",
      label: "Menu with more",
      url: "/styleguide/menu_with_more",
      keywords: "responsive,hide,navigation",
    },
    {
      section: "Components",
      label: "Read more",
      url: "/styleguide/read_more",
      keywords: "reveal,show,hide,animation",
    },
    {
      section: "Components",
      label: "Tabs",
      url: "/styleguide/tabs",
    },
    {
      section: "Components",
      label: "Toggle",
      url: "/styleguide/toggle",
      keywords: "show,hide,animation",
    },
    {
      section: "Components",
      label: "Tooltip",
      url: "/styleguide/tooltip",
      keywords: "tippy,popup",
    },
    {
      section: "Components",
      label: "Tray navigation",
      url: "/styleguide/tray_navigation",
      keywords: "mobile,menu",
    },
    {
      section: "Developer resources",
      label: "Development board",
      url: "https://github.com/katalyst/ornament/projects/1",
      target: "_blank",
      keywords: "jira,tasks,todo",
    },
    {
      section: "Developer resources",
      label: "Changelog",
      url: "https://github.com/katalyst/ornament/blob/develop/CHANGELOG.md",
      target: "_blank",
    },
    {
      section: "Developer resources",
      label: "S/CSS coding standards",
      url: "https://github.com/katalyst/ornament/wiki/CSS-Styleguide-and-Coding-Standards",
      target: "_blank",
      keywords: "styleguide,best practices",
    }
  ]
%>
<div class="styleguide-page--sidebar--filter-list" data-sidebar-filter-list style="display: none;"></div>
<ul class="styleguide-page--sidebar--list" data-sidebar-navigation>
  <% navigation.each do |nav_item| %>
    <% if !nav_item[:section].eql?(last_section) %>
      <% last_section = nav_item[:section] %>
      <li class="styleguide-page--sidebar--section-header"><%= nav_item[:section] %></li>
    <% end %>
    <li class="<%= "active" if request.path.eql?(nav_item[:url]) %>" data-navigation-item data-section="<%= last_section %>" data-keywords="<%= nav_item[:keywords] %>">
      <%= link_to nav_item[:url], target: nav_item[:target] do %>
        <%= nav_item[:label] %>
        <% if nav_item[:target] && nav_item[:target].eql?("_blank") %>
          <%= icon "external_link", width: 16, height: 16 %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

