<%- 
  id ||= "example"
  ruby ||= false
-%>

<div class="tabs sg-feature">
  <nav class="tabs--links">
    <ul>
      <li><a href="#<%= id -%>__preview" class="tabs--link" data-tab="<%= id -%>__preview">Preview</a></li>
      <li><a href="#<%= id -%>__source" class="tabs--link" data-tab="<%= id -%>__source">HTML</a></li>
      <%- if ruby -%>
        <li><a href="#<%= id -%>__ruby" class="tabs--link" data-tab="<%= id -%>__ruby">Ruby</a></li>
      <%- end -%>
    </ul>
  </nav>
  <div class="tabs--panes">
    <div class="tabs--pane" data-tab-for="<%= id -%>__preview">
      <%= yield -%>
    </div>
    <div class="tabs--pane tabs--pane__flush" data-tab-for="<%= id -%>__source">
      <pre class="sg-pre prettyprint"><%= render_source(yield) -%></pre>
    </div>
    <%- if ruby -%>
      <div class="tabs--pane tabs--pane__flush" data-tab-for="<%= id -%>__ruby">
        <pre class="sg-pre prettyprint"><%= raw(ruby) -%></pre>
      </div>
    <%- end -%>
  </div>
</div>