<section>
  <h2 class="heading-alpha">Components</h2>
  <p>
    There are a number of components the come built in.
  </p>
  <section id="align" class="rhythm-tight">
    <h3 class="heading-beta">align</h3>
    <div class="align-right">
      <p class="align-left" style="width:100px;">
        asfa
      </p>
    </div>
    <figure class="island island-tight float-right">
      <%= image_tag "http://placehold.it/200x150" %>
      <figcaption>
        An image.
      </figcaption>
    </figure>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.
    </p>
    <p>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat.
    </p>
  </section>
  <section id="forms" class="rhythm-tight">
    <h2 class="heading-alpha">Forms</h2>
    <%= form_for :example, :html => { :class => "rhythm-tight" } do |form| %>
      <div class="field">
        <%= form.label :example, :class => "field--label" %>
        <%= form.text_field :example %>
      </div>
      <div class="field">
        <%= form.label :example, :class => "field--label" %>
        <%= form.text_area :example %>
      </div>
      <%= form.submit :class => "button" %>
    <% end %>
  </section>
</section>

- introduction
- prototype components
  - align
  - button
  - clearfix
  - field
  - float
  - footer
  - header
  - island
  - layout
  - nav
  - rhythm
  - split
  - table
