<%- unless content_for?(:flash_messages) %>
  <% flash.to_hash.slice("alert", "success", "notice", "error").each do |key, value| %>
    <div id="flash" class="flash bg--<%= key.to_s %> type--<%= key.to_s %> icon--<%= key.to_s %>" data-toggle="flash-message" data-toggle-default data-disappear>
      <div class="layout--container">
        <div class="flash--inner">
          <div class="flash--content">
            <p><%= raw value %></p>
          </div>
          <div class="flash--close">
            <button data-toggle-anchor="flash-message" class="active">
              <%= icon("close", width: "16px", height: "16px") -%>
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<%- end -%>
