<% content_for :title, "Component: Credit Card Module" %>

<div class="rhythm">

  <section class="rhythm-tight">
    <h2>Mini Tooltips</h2>
    <p>Dependancies: Tooltips</p>

    <%= form_tag({:action => "#" },{:class => "credit-card"}) do %>
      <div class="credit-card--card-number">
        <%= label_tag(:cc_number, "Card Number") %>
        <%= text_field_tag(:cc_number) %>
      </div>
      <div class="credit-card--ccv">
        <div class="tooltip-mega" id="credit-card--ccv-tooltip">
          <h2>What is a CCV?</h2>
          <p>Something important probably.</p>
        </div>
        <span class="tooltip-mega--anchor" data-tooltip-id="credit-card--ccv-tooltip">?</span>
        <%= label_tag(:cc_ccv, "CCV") %>
        <%= text_field_tag(:cc_ccv) %>
      </div>
      <div class="credit-card--card-holder">
        <%= label_tag(:cc_holder, "Card Holder") %>
        <%= text_field_tag(:cc_holder) %>
      </div>
      <div class="credit-card--expiration">
        <%= label_tag(:cc_expiration_month, "Expiration") %>
        <div class="credit-card--expiration--month">
          <%= select_tag(:cc_expiration_month, options_for_select([
            ['1 - January','1'],
            ['2 - February','2'],
            ['3 - March','3'],
            ['4 - April','4'],
            ['5 - May','5'],
            ['6 - June','6'],
            ['7 - July','7'],
            ['8 - August','8'],
            ['9 - September','9'],
            ['10 - October','10'],
            ['11 - November','11'],
            ['12 - December','12']
          ])) %>
        </div>
        <div class="credit-card--expiration--year">
          <% 
            cc_years = Array.new;
            (0..10).each do |i| 
              cc_years << Time.now.year
            end 
          %>
          <%= select_tag(:cc_expiration_year, options_for_select(cc_years)) %>
        </div>
      </div>
    <% end %>

  </section>

</div>
